.body{
  display: flex;
  justify-content: center ;
  height: 100vh;
  background-color: #b2ebf2;
}
.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
}
  
.imagen {
  background-image: url('https://media.githubusercontent.com/media/Mogom/Imagenes_PetsHeaven/main/Fondos/404.jpg');
  background-position: center;
  background-size: cover;
  height: 60vh;
  width: 30%;
  min-height: 500px;
  min-width: 400px;
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
}

.pet-home-button {
  background: white;
  color: #00BCD4;
  border: none;
  padding: 15px 35px;
  font-size: 1.1rem;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
  box-shadow: 0 5px 15px rgba(58, 134, 255, 0.4);
}

.pet-home-button:hover {
  background: var(--verdeaguamarina);
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(107, 139, 255, 0.4);
  color: white;
}

.pet-home-button i {
  margin-right: 10px;
}
      








/* @import url('../vars.css');

.notfound-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #b2ebf2;
  padding: 2rem;
  box-sizing: border-box;
}

.pet-glitch-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: center;
  z-index: 2;
  height: 60%;
  width: 100%;
  max-width: 600px;
  min-height: 300px; 
  text-align: center;
  padding: 2rem 1rem 2.5rem 1rem; 
  background-image: url('https://media.githubusercontent.com/media/Mogom/Imagenes_PetsHeaven/main/Fondos/404.jpg');
  background-position: center;
  background-size: cover; 
  background-repeat: no-repeat;
  border-radius: 20px;
  
}


.pet-home-button {
  background: white;
  color: #00BCD4;
  border: none;
  padding: 15px 35px;
  font-size: 1.1rem;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
  box-shadow: 0 5px 15px rgba(58, 134, 255, 0.4);
}

.pet-home-button:hover {
  background: var(--verdeaguamarina);
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(107, 139, 255, 0.4);
  color: white;
}

.pet-home-button i {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .pet-glitch-container {
    padding: 2rem;
    width: 90%;
  }

  .pet-home-button {
    width: 100%;
    font-size: 1rem;
    padding: 12px 0;
  }
}

@media (max-width: 480px) {
  .pet-glitch-container {
    padding: 1.5rem;
  }

  .pet-home-button {
    font-size: 0.95rem;
    padding: 10px;
  }
} */
