/* .MainContainerLoaderSmallLoader {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

.WheelAndHamsterSmallLoader {
  --dur: 1s;
  bottom: 26.67%;
  position: relative;
  width: 46.67vw;               
  max-width: 8rem;               
  height: 46.67vw;               
  max-height: 8rem;             
  font-size: calc(0.4167rem + 0.333vw); 
}

.WheelSmallLoader,
.HamsterSmallLoader,
.HamsterSmallLoader div,
.SpokeSmallLoader {
  position: absolute;
}

.WheelSmallLoader,
.SpokeSmallLoader {
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.WheelSmallLoader {
  background: radial-gradient(100% 100% at center, hsla(0, 0%, 60%, 0) 47.8%, hsl(0, 0%, 60%) 48%);
  z-index: 2;
}

.HamsterSmallLoader {
  animation: Hamster var(--dur) ease-in-out infinite;
  top: 50%;
  left: calc(50% - 2.33rem);      
  width: 4.67rem;                
  height: 2.5rem;                
  transform: rotate(4deg) translate(-0.533rem, 1.233rem); 
  transform-origin: 50% 0;
  z-index: 1;
}

.Hamster__headSmallLoader {
  animation: HamsterHead var(--dur) ease-in-out infinite;
  background: hsl(30, 90%, 55%);
  border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
  box-shadow: 0 -0.167rem 0 hsl(30, 90%, 80%) inset,
    0.5rem -1.033rem 0 hsl(30, 90%, 90%) inset;
  top: 0;
  left: -1.33rem;                   
  width: 1.83rem;                   
  height: 1.67rem;                  
  transform-origin: 100% 50%;
}

.Hamster__earSmallLoader {
  animation: HamsterEar var(--dur) ease-in-out infinite;
  background: hsl(0, 90%, 85%);
  border-radius: 50%;
  box-shadow: -0.167rem 0 hsl(30, 90%, 55%) inset;
  top: -0.167rem;
  right: -0.167rem;
  width: 0.5rem;                    
  height: 0.5rem;                   
  transform-origin: 50% 75%;
}

.Hamster__eyeSmallLoader {
  animation: HamsterEye var(--dur)  infinite;
  background-color: hsl(0, 0%, 0%);
  border-radius: 50%;
  top: 0.25rem;                     
  left: 0.833rem;                   
  width: 0.333rem;                  
  height: 0.333rem;                
}

.Hamster__noseSmallLoader {
  background: hsl(0, 90%, 75%);
  border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
  top: 0.5rem;                    
  left: 0;
  width: 0.133rem;                
  height: 0.167rem;                
}

.Hamster__bodySmallLoader {
  animation: HamsterBody var(--dur) ease-in-out infinite;
  background: hsl(30, 90%, 90%);
  border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
  box-shadow: 0.067rem 0.5rem 0 hsl(30, 90%, 55%) inset,
    0.1rem -0.333rem 0 hsl(30, 90%, 80%) inset;
  top: 0.167rem;                    
  left: 1.33rem;                    
  width: 3rem;                      
  height: 2rem;                      
  transform-origin: 17% 50%;
  transform-style: preserve-3d;
}

.Hamster__limb--frSmallLoader,
.Hamster__limb--flSmallLoader {
  clip-path: polygon(0 0, 100% 0, 70% 80%, 60% 100%, 0% 100%, 40% 80%);
  top: 1.33rem;                     
  left: 0.333rem;                    
  width: 0.667rem;                  
  height: 1rem;                      
  transform-origin: 50% 0;
}

.Hamster__limb--frSmallLoader {
  animation: HamsterFRLimb var(--dur)  infinite;
  background: -gradient(hsl(30, 90%, 80%) 80%, hsl(0, 90%, 75%) 80%);
  transform: rotate(15deg) translateZ(-1px);
}

.Hamster__limb--flSmallLoader {
  animation: HamsterFLLimb var(--dur)  infinite;
  background: -gradient(hsl(30, 90%, 90%) 80%, hsl(0, 90%, 85%) 80%);
  transform: rotate(15deg);
}

.Hamster__limb--brSmallLoader,
.Hamster__limb--blSmallLoader {
  border-radius: 0.5rem 0.5rem 0 0; 
  clip-path: polygon(0 0, 100% 0, 100% 30%, 70% 90%, 70% 100%, 30% 100%, 40% 90%, 0% 30%);
  top: 0.667rem;                     
  left: 1.867rem;                   
  width: 1rem;                       
  height: 1.667rem;                  
  transform-origin: 50% 30%;
}

.Hamster__limb--brSmallLoader {
  animation: HamsterBRLimb var(--dur)  infinite;
  background: -gradient(hsl(30, 90%, 80%) 90%, hsl(0, 90%, 75%) 90%);
  transform: rotate(-25deg) translateZ(-1px);
}

.Hamster__limb--blSmallLoader {
  animation: HamsterBLLimb var(--dur)  infinite;
  background: -gradient(hsl(30, 90%, 90%) 90%, hsl(0, 90%, 85%) 90%);
  transform: rotate(-25deg);
}

.Hamster__tailSmallLoader {
  animation: HamsterTail var(--dur)  infinite;
  background: hsl(0, 90%, 85%);
  border-radius: 0.167rem 50% 50% 0.167rem; 
  box-shadow: 0 -0.133rem 0 hsl(0, 90%, 75%) inset; 
  top: 1rem;                       
  right: -0.333rem;                 
  width: 0.667rem;                
  height: 0.333rem;                 
  transform: rotate(30deg) translateZ(-1px);
  transform-origin: 0.167rem 0.167rem; 
}

.SpokeSmallLoader {
  animation: Spoke var(--dur)  infinite;
  background: radial-gradient(100% 100% at center, hsl(0, 0%, 60%) 4.8%, hsla(0, 0%, 60%, 0) 5%),
    -gradient(hsla(0, 0%, 55%, 0) 46.9%, hsl(0, 0%, 65%) 47% 52.9%, hsla(0, 0%, 65%, 0) 53%) 50% 50% / 99% 99% no-repeat;
}



@media (max-width: 600px) {
  .WheelAndHamsterSmallLoader {
    bottom: 10%;
  }
}

@keyframes Hamster {

  from,
  to {
    transform: rotate(4deg) translate(-0.8em, 1.85em);
  }

  50% {
    transform: rotate(0) translate(-0.8em, 1.85em);
  }
}

@keyframes HamsterHead {

  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(8deg);
  }
}

@keyframes HamsterEye {

  from,
  90%,
  to {
    transform: scaleY(1);
  }

  95% {
    transform: scaleY(0);
  }
}

@keyframes HamsterEar {

  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(12deg);
  }
}

@keyframes HamsterBody {
  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(0);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(-2deg);
  }
}

@keyframes HamsterFRLimb {

  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(50deg) translateZ(-1px);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(-30deg) translateZ(-1px);
  }
}

@keyframes HamsterFLLimb {

  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(-30deg);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(50deg);
  }
}

@keyframes HamsterBRLimb {

  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(-60deg) translateZ(-1px);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(20deg) translateZ(-1px);
  }
}

@keyframes HamsterBLLimb {

  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(20deg);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(-60deg);
  }
}

@keyframes HamsterTail {

  from,
  25%,
  50%,
  75%,
  to {
    transform: rotate(30deg) translateZ(-1px);
  }

  12.5%,
  37.5%,
  62.5%,
  87.5% {
    transform: rotate(10deg) translateZ(-1px);
  }
}

@keyframes Spoke {
  fromSmallLoader {
    transform: rotate(0);
  }

  to {
    transform: rotate(-1turn);
  }
}


@media (max-width: 600px) {
  .WheelAndHamsterSmallLoader {
    bottom: 10%;
  }
}


.MainDogLoader {
  margin: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.leg {
  position: absolute;
  bottom: 0;
  width: 1rem;
  height: 1.0625rem;
  max-width: 8rem;
  max-height: 8rem;
}
.paw {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1.975rem;
  height: 0.9375rem;
  overflow: hidden;
}
.paw::before {
  content: "";
  position: absolute;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
}

.DogLoader {
  position: relative;
  right: 0.8rem;
  width: 7.5rem;
  height: 8.75rem;
  max-height: 8rem;
  max-width: 8rem;
}


.DogLoader__head {
  position: absolute;
  left: 2.25rem;
  bottom: 0;
  width: 3.25rem;
  height: 4.5rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 1.65rem;
  border-bottom-left-radius: 1.65rem;
  background-color: #ff8147;
  animation: head 10s ease-in-out infinite;
}

.DogLoader__head-c {
  position: absolute;
  left: 0.75rem;
  bottom: 0;
  width: 4.875rem;
  height: 4.125rem;
  animation: head 10s ease-in-out infinite;
  z-index: -1;
}

.DogLoader__snout {
  position: absolute;
  left: -0.75rem;
  bottom: 0;
  width: 2.5rem;
  height: 1.25rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 2.25rem;
  background-color: #d7dbd2;
  animation: snout 10s ease-in-out infinite;
}

.DogLoader__nose {
  position: absolute;
  top: clamp(-0.5rem, -1.5vw, -0.975rem);
  left: 48%; 
  width: clamp(0.20rem, 0.5vw, 0.375rem);
  height: clamp(0.1rem, 1.5vw, 1rem);
  border-radius: clamp(0.1rem, 0.3vw, 0.2625rem);
  transform-origin: bottom;
  transform: rotateZ(10deg);
  background-color: #d7dbd2;
  z-index: -1;
}

.DogLoader__snout::before {
  content: "";
  position: absolute;
  left: clamp(-0.03rem, -0.1vw, -0.05625rem);
  top: clamp(-0.03rem, -0.1vw, -0.075rem);
  width: clamp(0.4rem, 1.5vw, 0.9375rem);
  height: clamp(0.2rem, 1vw, 0.5625rem);
  border-top-right-radius: clamp(0.75rem, 2.5vw, 1.5rem);
  border-bottom-right-radius: clamp(0.75rem, 2.5vw, 1.5rem);
  border-bottom-left-radius: clamp(1rem, 4vw, 2.25rem);
  background-color: #1c3130;
  animation: snout-b 10s cubic-bezier(0.3, 0.41, 0.18, 1.01) infinite;
}

.DogLoader::before {
  content: "";
  position: absolute;
  bottom: clamp(-0.15rem, -0.5vw, -0.375rem);
  right: clamp(-0.03rem, -0.1vw, -0.075rem);
  width: 100%; 
  height: clamp(0.3rem, 1.5vw, 0.75rem);
  background-color: rgba(28, 49, 48, 0.1);
  border-radius: 50%;
  z-index: -1;
  animation: shadow 10s cubic-bezier(0.3, 0.41, 0.18, 1.01) infinite;
}

.DogLoader__eye-l,
.DogLoader__eye-r {
  position: absolute;
  top: -0.45rem;
  width: 0.3375rem;
  height: 0.1875rem;
  border-radius: 50%;
  background-color: #1c3130;
  animation: eye 10s ease-in-out infinite;
}

.DogLoader__eye-l {
  left: 27%; 
}

.DogLoader__eye-r {
  left: 65%; 
}

.DogLoader__ear-l,
.DogLoader__ear-r {
  position: absolute;
  width: 3.75rem;
  height: 1.1875rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 1.65rem;
  border-bottom-left-radius: 1.65rem;
  background-color: #e26538;
}
.DogLoader__ear-l {
  top: 0.75rem;
  left: 3rem;
  transform-origin: bottom left;
  transform: rotateZ(-50deg);
  z-index: -1;
  animation: ear-l 10s ease-in-out infinite;
}

.DogLoader__ear-r {
  top: 0.75rem;
  right: 1.5rem;
  transform-origin: bottom right;
  transform: rotateZ(20deg);
  z-index: -2;
  animation: ear-r 10s ease-in-out infinite;
}

.DogLoader__body {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 0.15rem;
  left: 2.175rem;
  width: 7.25rem;
  height: 1.4rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 3rem;
  background-color: #ff702e;
  z-index: -2;
  animation: body 10s ease-in-out infinite;
}

.DogLoader__tail {
  position: absolute;
  right: -1.5rem;
  height: 0.3125rem;
  width: 2.5rem;
  background-color: #e96839;
  border-radius: 0.75rem;
}

.DogLoader__paws {
  position: absolute;
  bottom: 0;
  left: 2.75rem;
  width: 3rem;
  height: 1.5rem;
}

.DogLoader__bl-leg {
  left: -1.5rem;
  z-index: -1;
}

.DogLoader__bl-paw::before {
  background-color: #bec4b6;
}

.DogLoader__bl-top {
  background-image: -gradient(80deg, transparent 20%, #e96839 20%);
}

.DogLoader__fl-leg {
  z-index: 10;
  left: 0;
}

.DogLoader__fl-paw::before {
  background-color: #d7dbd2;
}

.DogLoader__fr-leg {
  right: 0;
}

.DogLoader__fr-paw::before {
  background-color: #d7dbd2;
}



@keyframes head {
  0%,
  10%,
  20%,
  26%,
  28%,
  100% {
    height: 4.1vmax;
    bottom: 0;
    transform-origin: bottom right;
    transform: rotateZ(0);
  }

  5%,
  15%,
  22%,
  24%,
  30% {
    height: 4.1vmax;
  }

  32%,
  50% {
    height: 4.25vmax;
  }

  55%,
  60% {
    bottom: 6.75vmax;
    transform-origin: bottom right;
    transform: rotateZ(0);
  }

  70%,
  80% {
    bottom: 0.75vmax;
    transform-origin: bottom right;
    transform: rotateZ(10deg);
  }
}

@keyframes body {
  0%,
  10%,
  20%,
  26%,
  28%,
  32%,
  100% {
    height: 4.2vmax;
  }

  5%,
  15%,
  22%,
  24%,
  30% {
    height: 4.05vmax;
  }
}

@keyframes ear-l {
  0%,
  10%,
  20%,
  26%,
  28%,
  82%,
  100% {
    transform: rotateZ(-50deg);
  }

  5%,
  15%,
  22%,
  24% {
    transform: rotateZ(-48deg);
  }

  30%,
  31% {
    transform: rotateZ(-30deg);
  }

  32%,
  80% {
    transform: rotateZ(-60deg);
  }
}

@keyframes ear-r {
  0%,
  10%,
  20%,
  26%,
  28% {
    transform: rotateZ(20deg);
  }

  5%,
  15%,
  22%,
  24% {
    transform: rotateZ(18deg);
  }

  30%,
  31% {
    transform: rotateZ(10deg);
  }

  32% {
    transform: rotateZ(25deg);
  }
}

@keyframes snout {
  0%,
  10%,
  20%,
  26%,
  28%,
  82%,
  100% {
    height: 1.75vmax;
  }

  5%,
  15%,
  22%,
  24% {
    height: 1.45vmax;
  }
}

@keyframes snout-b {
  0%,
  10%,
  20%,
  26%,
  28%,
  98%,
  100% {
    width: 1.875vmax;
  }

  5%,
  15%,
  22%,
  24% {
    width: 1.8vmax;
  }

  34%,
  98% {
    width: 1.275vmax;
  }
}

@keyframes shadow {
  0%,
  10%,
  20%,
  26%,
  28%,
  30%,
  84%,
  100% {
    width: 99%;
  }

  5%,
  15%,
  22%,
  24% {
    width: 101%;
  }

  34%,
  81% {
    width: 96%;
  }
}

@keyframes eye {
  0%,
  30% {
    width: 0.675vmax;
    height: 0.3vmax;
  }

  32%,
  59%,
  90%,
  100% {
    width: 0.525vmax;
    height: 0.525vmax;
    transform: translateY(0);
  }

  60%,
  75% {
    transform: translateY(-0.3vmax);
  }

  80%,
  85% {
    transform: translateY(0.15vmax);
  }
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}



@media (max-width: 600px) {
  .DogLoader {
    bottom: 10%;
    right: 0.8rem;
  }

  .DogLoader__head {
    left: 1.5rem;
  }
}

@media (max-width: 600px) {
  .DogLoader {
    bottom: 10%;
    
    right: clamp(0.5rem, 1vw, 0.8rem);
  }
  .DogLoader__head {
    left: clamp(0.8rem, 3vw, 1.5rem);
  }
}
 */


.MainCatLoader {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.CatLoader {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CatContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .CatLoader_Body {
      width: 130px;
  }

.CatLoader_Tail {
  position: absolute;
  width: 30px;
  top: 50%;
  animation: tail 0.5s ease-in infinite alternate-reverse;
  transform-origin: top;
}
@keyframes tail {
  0% {
    transform: rotateZ(30deg);
  }
  100% {
    transform: rotateZ(-30deg);
  }
}
.CatLoader_Text {
  display: flex;
  flex-direction: column;
  width: 50px;
  position: absolute;
  margin: 0px 0px 100px 120px;
}
.CatLoader_zzz {
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 15px;
  animation: zzz 2s linear infinite;
}
.CatLoader_Bigzzz {
  color: black;
  font-weight: 700;
  font-size: 25px;
  margin-left: 10px;
  animation: zzz 2.3s linear infinite;
}
@keyframes CarLoader_zzz {
  0% {
    color: transparent;
  }
  50% {
    color: black;
  }
  100% {
    color: transparent;
  }
}



@media (max-width: 600px) {
  .CatContainer {
    bottom: 10%;
    
  }

}