@import url('../vars.css');

.notfound-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #b2ebf2;
}

.pet-glitch-container {
  position: relative;
  z-index: 2;
  height: 60%;
  width: 30%;
  text-align: center;
  padding: 2rem;
  background-image: url('https://media.githubusercontent.com/media/Mogom/Imagenes_PetsHeaven/main/Fondos/404.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pet-glitch-container p{
  font-family: var(--font-general);
  font-size: 1.5rem;
  color: #555;
  max-width: 500px;
  margin-bottom: 2rem;
  line-height: 1.6;
}

/* Glitch veterinario */
.title-num {
  font-size: 12rem;
  font-weight: 900;
  color: var(--verdeaguamarina);
  position: relative;
  margin: 0;
  line-height: 1;
  text-shadow: 5px 5px 0 #4ecdc4, -5px -5px 0 #66bdff;
  animation: glitch 3s infinite alternate;
}

/* Texto temático */
.sub-title {
  font-family: var(--font-general);
  font-size: 3rem;
  color: var(--azulturquesa);
  margin: 1rem 0;
  font-weight: 600;
}

/* Elementos de mascotas */
.pet-elements {
  margin: 2rem 0;
}

.paw-icon {
  font-size: 3rem;
  display: inline-block;
  animation: bounce 2s infinite;
}

/* Modificado: perro mira al centro */
.pet-icond {
  font-size: 2.5rem;
  margin: 0 15px;
  opacity: 0;
  animation: fadeIn 1s forwards;
  transform: scaleX(-1); 
  display: inline-block;
}

.pet-iconc {
  font-size: 2.5rem;
  margin: 0 15px;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.pet-icon:nth-child(1) { animation-delay: 0.5s; }
.pet-icon:nth-child(2) { animation-delay: 1s; }

@keyframes fadeIn {
  to { opacity: 1; }
}

/* Botón veterinario */
.pet-home-button {
  display: inline-block;
  background: white;
  color: #00BCD4;
  border: none;
  padding: 15px 35px;
  font-size: 1.1rem;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  font-weight: 600;
  box-shadow: 0 5px 15px rgba(58, 134, 255, 0.4);
  margin-top: 35rem;
}

.pet-home-button:hover {
  background: var(--verdeaguamarina);
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(107, 139, 255, 0.4);
  color: white;
}

.pet-home-button i {
  margin-right: 10px;
}

/* Huellas de fondo */
.notfound-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100px;
  opacity: 0.1;
  z-index: 1;
}