.tarjetagesusuario {
  padding: 1.5rem;
  width: 100%;
  background-color: var(--background);
}

.contenidogesusuario {
  border-radius: 0.5rem;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  transition: all 0.3s ease;
}

.encabezadogesusuario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--gris-medio);
  padding-bottom: 0.75rem;
}

.titulogesusuario {
  display: flex;
  align-items: baseline;
  gap: 0.75rem;
}
 
.textogesusuario {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--azulturquesa);
  margin: 0;
}
